@font-face {
  font-family: "iconfont"; /* Project id 3511088 */
  src: url('iconfont.woff2?t=1657376149224') format('woff2'),
       url('iconfont.woff?t=1657376149224') format('woff'),
       url('iconfont.ttf?t=1657376149224') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e65b";
}

.icon-add:before {
  content: "\e664";
}

